services:
  - docker:dind

stages:
  - renovate
  - child-pipelines

ansible:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "ansible"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "ansible"
    - changes:
        - ansible/**/*

command-loop:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "command-loop"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "command-loop"
    - changes:
        - command-loop/**/*

esp-stack-trace-decoder:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "esp-stack-trace-decoder"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "esp-stack-trace-decoder"
    - changes:
        - esp-stack-trace-decoder/**/*

hive-hadoop-aws:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "hive-hadoop-aws"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "hive-hadoop-aws"
    - changes:
        - hive-hadoop-aws/**/*

jupyter-iceberg:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "jupyter-iceberg"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "jupyter-iceberg"
    - changes:
        - jupyter-iceberg/**/*

htmlq:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "htmlq"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "htmlq"
    - changes:
        - htmlq/**/*

jawaws:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "jawaws"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "jawaws"
    - changes:
        - jawaws/**/*

platformio:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "platformio"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "platformio"
    - changes:
        - platformio/**/*

system-utils:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "system-utils"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "system-utils"
    - changes:
        - system-utils/**/*

terraform:
  stage: child-pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "terraform"
  trigger:
    include: .sub-gitlab-ci.yml
    strategy: depend
  rules:
    - if: $SERVICE == "all"
    - if: $SERVICE == "terraform"
    - changes:
        - terraform/**/*

# renovate:
#   stage: renovate
#   image: renovate/renovate
#   script:
#     - renovate
#   rules:
#     - if: $SERVICE == "renovate-run"
